<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caipiao.dao.common.PayChannelMapper" >

  <!-- 查询充值渠道 -->
  <select id="queryPayChannels" parameterType="com.caipiao.domain.cpadmin.BaseDto" resultType="com.caipiao.domain.common.PayChannel">
    select
    t1.id,
    t1.name,
    t1.shortName,
    t1.logo,
    t1.channelCode,
    t1.channelDesc,
    t1.status,
    t1.createTime,
    t1.updateTime
    from tb_paychannel t1 where 1 = 1
    <choose>
      <when test="id != null and id != ''">
        and t1.id = #{id}
      </when>
      <otherwise>
        <if test="name != null and name != ''">
          and t1.name = #{name}
        </if>
        <if test="channelCode != null and channelCode != ''">
          and t1.channelCode = #{channelCode}
        </if>
        <choose>
          <when test="sorts != null and sorts != ''">
            order by ${sorts}
          </when>
          <otherwise>
          </otherwise>
        </choose>
        <if test="psize != null and psize != ''">
          limit ${pstart},${psize}
        </if>
      </otherwise>
    </choose>
  </select>

  <!-- 查询充值渠道总记录数 -->
  <select id="queryPayChannelsCount" parameterType="com.caipiao.domain.cpadmin.BaseDto" resultType="int">
    select count(0) from tb_paychannel t1 where 1= 1
    <choose>
      <when test="id != null and id != ''">
        and t1.id = #{id}
      </when>
      <otherwise>
        <if test="name != null and name != ''">
          and t1.name = #{name}
        </if>
        <if test="channelCode != null and channelCode != ''">
          and t1.channelCode = #{channelCode}
        </if>
      </otherwise>
    </choose>
  </select>

  <!-- 查询充值渠道(管理后台) -->
  <select id="queryPayChannelInfos" parameterType="com.caipiao.domain.cpadmin.BaseDto" resultType="com.caipiao.domain.cpadmin.BaseDto">
    select
    t1.id,
    t1.name,
    t1.shortName,
    t1.logo,
    t1.channelCode,
    t1.channelDesc,
    t1.status,
    date_format(t1.createTime,'%Y-%m-%d %H:%i:%s') createTime,
    date_format(t1.updateTime,'%Y-%m-%d %H:%i:%s') updateTime
    from tb_paychannel t1 where 1 = 1
    <choose>
      <when test="id != null and id != ''">
        and t1.id = #{id}
      </when>
      <otherwise>
        <if test="name != null and name != ''">
          and t1.name = #{name}
        </if>
        <if test="channelCode != null and channelCode != ''">
          and t1.channelCode = #{channelCode}
        </if>
        <if test="status != null and status != ''">
            and t1.status = #{status}
        </if>
        <choose>
          <when test="sorts != null and sorts != ''">
            order by ${sorts}
          </when>
          <otherwise>
            order by t1.status desc,t1.updateTime desc
          </otherwise>
        </choose>
        <if test="psize != null and psize != ''">
          limit ${pstart},${psize}
        </if>
      </otherwise>
    </choose>
  </select>

  <!-- 查询充值渠道总记录数(管理后台) -->
  <select id="queryPayChannelInfosCount" parameterType="com.caipiao.domain.cpadmin.BaseDto" resultType="int">
    select count(0) from tb_paychannel t1 where 1= 1
    <choose>
      <when test="id != null and id != ''">
        and t1.id = #{id}
      </when>
      <otherwise>
        <if test="name != null and name != ''">
          and t1.name = #{name}
        </if>
        <if test="channelCode != null and channelCode != ''">
          and t1.channelCode = #{channelCode}
        </if>
        <if test="status != null and status != ''">
          and t1.status = #{status}
        </if>
      </otherwise>
    </choose>
  </select>

  <!-- 更新充值渠道 -->
  <update id="updatePayChannel" parameterType="com.caipiao.domain.cpadmin.BaseDto">
    update tb_paychannel set updateTime = now()
    <if test="name != null">
      ,name = #{name}
    </if>
    <if test="shortName != null">
      ,shortName = #{shortName}
    </if>
    <if test="logo != null">
      ,logo = #{logo}
    </if>
    <if test="status != null">
      ,status = #{status}
    </if>
    where id = #{id}
  </update>

  <!-- 查询渠道充值方式信息(管理后台) -->
  <select id="queryChannelPaywayInfos" parameterType="com.caipiao.domain.cpadmin.BaseDto" resultType="com.caipiao.domain.cpadmin.BaseDto">
    select
    t1.id,
    t1.paywayId,
    t1.paychannelId,
    t1.merchantNo,
    t1.clientTypes,
    t1.model,
    date_format(t1.timeRangeStart,'%Y-%m-%d %H:%i:%s') timeRangeStart,
    date_format(t1.timeRangeEnd,'%Y-%m-%d %H:%i:%s') timeRangeEnd,
    t1.timeCharacter,
    t1.weight,
    t1.minMoney,
    t1.maxMoney,
    t1.status,
    t2.payName,
    t2.payShort,
    t2.payType,
    t2.payCode,
    t2.payDesc,
    t3.name channelName
    from tb_payway_channel t1,tb_payway t2,tb_paychannel t3
    where t2.id = t1.paywayId and t3.id = t1.paychannelId
    <choose>
        <when test="id != null and id != ''">
            and t1.id = #{id}
        </when>
        <otherwise>
            and t1.paychannelId = #{paychannelId}
        </otherwise>
    </choose>
  </select>

  <!-- 更新渠道充值方式 -->
  <update id="updateChannelPayway" parameterType="com.caipiao.domain.cpadmin.BaseDto">
    update tb_payway_channel set updatetime = now()
    <if test="status != null">
      ,status = #{status}
    </if>
    <if test="clientTypes != null">
      ,clientTypes = #{clientTypes}
    </if>
    <if test="model != null">
      ,model = #{model}
    </if>
    <if test="timeRangeStart != null">
      ,timeRangeStart = #{timeRangeStart}
    </if>
    <if test="timeRangeEnd != null">
      ,timeRangeEnd = #{timeRangeEnd}
    </if>
    <if test="timeCharacter != null">
      ,timeCharacter = #{timeCharacter}
    </if>
    <if test="weight != null">
      ,weight = #{weight}
    </if>
    <if test="updateXzMoney == 1">
      ,minMoney = #{minMoney}
      ,maxMoney = #{maxMoney}
    </if>
    where id = #{id}
  </update>

</mapper>