<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--拆票数据日志文件-->
	<appender name="split"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/split/chaipiao.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/split/chaipiao_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--拆票错误日志文件-->
	<appender name="splitError"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/split/chaipiao_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/split/chaipiao_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--糯米出票数据日志文件-->
	<appender name="nuomi"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/nuomi/chupiao.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/nuomi/chupiao_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--糯米出票错误日志文件-->
	<appender name="nuomiError"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/nuomi/chupiao_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/nuomi/chupiao_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--吉米出票数据日志文件-->
	<appender name="jimi"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/jimi/chupiao.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/jimi/chupiao_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--吉米出票错误日志文件-->
	<appender name="jimiError"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/jimi/chupiao_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/jimi/chupiao_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--华阳出票数据日志文件-->
	<appender name="huayang"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/huayang/chupiao.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/huayang/chupiao_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--华阳出票错误日志文件-->
	<appender name="huayangError"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/huayang/chupiao_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/huayang/chupiao_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--华盈出票数据日志文件-->
	<appender name="huaying"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/huaying/chupiao.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/huaying/chupiao_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--华盈出票错误日志文件-->
	<appender name="huayingError"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/huaying/chupiao_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/huaying/chupiao_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--欧克出票数据日志文件-->
	<appender name="ouke"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/ouke/chupiao.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/ouke/chupiao_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--欧克出票错误日志文件-->
	<appender name="oukeError"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/web/tomcat/logs/ticket/ouke/chupiao_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				/web/tomcat/logs/ticket/ouke/chupiao_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 执行拆票日志输出 -->
	<logger name="com.caipiao.ticket.split" level="INFO" additivity="false">
		<appender-ref ref="split" />
		<appender-ref ref="splitError" />
	</logger>
	<!-- 执行糯米出票日志输出 -->
	<logger name="com.caipiao.ticket.vote.nuomi" level="INFO" additivity="false">
		<appender-ref ref="nuomi" />
		<appender-ref ref="nuomiError" />
	</logger>
	<!-- 执行吉米出票日志输出 -->
	<logger name="com.caipiao.ticket.vote.jimi" level="INFO" additivity="false">
		<appender-ref ref="jimi" />
		<appender-ref ref="jimiError" />
	</logger>
	<!-- 执行华阳出票日志输出 -->
	<logger name="com.caipiao.ticket.vote.huayang" level="INFO" additivity="false">
		<appender-ref ref="huayang" />
		<appender-ref ref="huayangError" />
	</logger>
	<!-- 执行华盈出票日志输出 -->
	<logger name="com.caipiao.ticket.vote.huaying" level="INFO" additivity="false">
		<appender-ref ref="huaying" />
		<appender-ref ref="huayingError" />
	</logger>
	<!-- 执行欧克出票日志输出 -->
	<logger name="com.caipiao.ticket.vote.ouke" level="INFO" additivity="false">
		<appender-ref ref="ouke" />
		<appender-ref ref="oukeError" />
	</logger>
</configuration>